{% extends "layout.html" %}
{% block body %}
<body>
{% include "login_register_segment.html"%}
<div class="page">
    <h1>PaintingTrivia</h1>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div>Statistics:</div>
    <div>Right guesses: {{ right_guesses }}</div>
    <div>Wrong guesses: {{ wrong_guesses }}</div>
    <div>Who is this painting created by?</div>

    <h2>{{ selected_painter.name }}</h2>
    <div class="painting"><img class="painting"
                               src="{{ url_for('static', filename = 'pics/%s' % selected_painting.file_name) }}"
                               border="0">
    </div>
    <div>Answers:</div>

    <form method="post" id="saint_form_id">
        <ul class="entries">
            {% for saint in saints_list %}
            <button id="chosen_saint_{{ saint.id }}" type="button" name="chosen_saint"
                    value="{{ saint.id }}" onclick="app.submitGuess(this, this.form, {{ selected_saint.id }})">
                {{ saint.name }}
            </button>
            <br/>
            {% endfor %}
        </ul>
    </form>
</div>
</body>
{% endblock %}
