{% extends "layout.html" %}
{% block body %}
<body>
        <div class="page">
            <h1>PaintingTrivia</h1>

            <div class="metanav">
            </div>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <header>Register</header>
            <form name="form" method="post" action="">
                <p><input type="text" name="username">

                <p><input type="password" name="password">

                <p><input type="submit" name="submit_form" value="Register">
            </form>
        </div>
    </body>
{% endblock %}